/* Login.css */

.login-container {
  width: 350px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  text-align: center;
  font-family: Arial, sans-serif;
}

.login-container h2 {
  margin-bottom: 30px;
  color: #333;
}

.login-input {
  width: 90%;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 95%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}
.register-link {
  margin-top: 15px;
  color: gray;
  font-size: 14px;
}

.register-link a {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.welcome-text {
  font-size: 20px;
  color: #007bff;      /* match navbar color */
  font-style: italic;
  margin-bottom: 15px;  /* space between welcome text and form */
  text-align: center;
}

.bold-text {
  font-weight: bold;
}


